
#name {
font-size: 40px;
font-family: 'Great Vibes', cursive;
text-align: center;
color: gray;
}
#address {
  text-align: center;
}

#name:hover{
  background-color: pink;
}

a:hover {
color: pink;
}

.head {
  color: black;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
.head:hover{
  color: gray
}

a:link {
    text-decoration: none;
    color: green;
    text-align: center;

}

a:link:hover {
  color: navy
}
