body {
  background-color: black;
}
.header{
  color: white;
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
  text-align: center;
}
.navigation {
  grid-area: navigation;
  font-size: 30px;
}

.navigation ul {
  margin: 5px;
  padding: 10px;
  list-style: none;
}

.navigation ul li {
  background: black;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 2px;
}

.navigation ul li a {
  background: none;
  text-decoration: none;
}

.navigation ul li:hover {
  background: white;
}

.navigation ul li:hover a {
  color: gray;
}

.header{
  font-family: 'Great Vibes', cursive;
  font-size: 180px;
}
#image {
  column-count:4;
  column-gap: 30px;
   line-height:5;
  -moz-column-count:4;
  -webkit-column-count:4;
  }

#image img {
  width: 100%;
  height: auto;
  margin: auto;
}

.passions {
  column-count:4;
  width: 100%;
  height: auto;
  margin: auto;
  line-height:5;
 -moz-column-count:4;
 -webkit-column-count:4;
}
.passions img{
  width: 100%;
  height: auto;
  margin: auto;
}
p{
  color: white;
}
