.header{
  color: black;
  text-align: center;
  font-size: 150px;
}
.navigation ul li a {
  background: none;
  text-decoration: none;
  color: gray;
}

.navigation ul li {
    display:inline-block;
    padding: 10px;
}

.navigation ul li:hover {
  background: black;
}
.navigation ul {
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.navigation {
  grid-area: navigation;
  font-size: 22px;
  text-align: center;
}
.item{
    column-count:2;
}
.main{
  column-count: 1;
  background: black;
  color white;
}
.work img{
  width: 100%;
}
h3{
  font-family: 'Great Vibes', cursive;
  text-align: center;
}
address{
  text-align: center;
  font-size: 27px;
}
.contactinfo{
  text-align: center;
  font-size: 26px;
}
a:link {
    text-decoration: none;
    color: black;
    text-align: center;

}

a:link:hover {
  color: gray;
}
h2{
  font-size: 22px;
}
#img{
text-align: center;
}
.logo{
  text-align: center;
}
